{%extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% load static %}
{% block slider %}
<div class="hero_area">
  <div class="bg-box">
    <img src="{% static 'images/o3.jpg' %}">
  </div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/base">
          <span>
            ZestyZone
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mx-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li> -->
          </ul>
          <div class="user_option">
            <div class="dropdown">
              <a href="javascript:void(0)" class="user_link" id="userDropdown" onclick="toggleDropdown()">
                <i class="fa fa-angle-down" style="font-size:x-large;" aria-hidden="true"></i>
              </a>
              <div id="dropdownMenu" class="dropdown-menu" style="background: none; border: none;">
                <a href="/auth/signup" class="dropdown-item">SIGNUP</a>
                <a href="/auth/login" class="dropdown-item">LOGIN</a>
                <a href="/auth/logout" class="dropdown-item">LOGOUT</a>
                <a class="dropdown-item" href="/about">About</a>
                <a class="dropdown-item" href="/contact">Contact</a>
              </div>
            </div>
            <a class="cart_link" href="#">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                 c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                 C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                 c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                 C457.728,97.71,450.56,86.958,439.296,84.91z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                 c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                  </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
              </svg>
            </a>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
            <a href="" class="order_online">
              Order Online
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  {% block sliderl %}
  <section class="book_section">
    <div class="form_container"style="margin-top:50px ;">
      <h2 style="text-align: center; color: #d4caca; margin-bottom:30px;">Create Your Account</h2>
      <form action="" style="margin: 0 auto; width: 400px;">
        <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-user"></i> Name</span></h5>
        <input type="text" class="form-control" placeholder="" style="margin-bottom: 7px; block-size:35px" />            
        <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-phone"></i> Phone</span></h5>

        <input type="text" class="form-control" placeholder="" style="margin-bottom: 7px; block-size:35px"/>
        <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-envelope"></i> Email</span></h5>
        <input type="email" class="form-control" placeholder="" style="margin-bottom: 7px; block-size:35px"/>
        <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-key"></i> Password</span></h5>
        <input type="password" class="form-control" placeholder="" style="margin-bottom: 7px; block-size:35px" />
        <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-lock"></i> Confirm Password</span></h5>
        <input type="password" class="form-control" placeholder="" style="margin-bottom: 7px; block-size:35px" />
        <button type="submit" style="margin-top: 10px; ">Sign up</button>
        <div style="color: beige; margin-top: 5px; ">Already User ? <a href="/auth/login" style="margin-left:8px; color: rgb(235, 180, 42);">login</a></div>
      </form>
      
    </div>
  </section>
  
  <!-- <section class="book_section">
    <div class="form_container" >
      <h2 style="text-align: center; color: #d4caca;">Contact With Us</h2>
      <form action="" style="margin-left:400px ; width: 400px; height: 50px;" >
        <input type="text" class="form-control" placeholder="Your Name" />
        <input type="text" class="form-control" placeholder="Phone Number" />
        <input type="email" class="form-control" placeholder="Your Email" />
        <input type="text" class="form-control" placeholder="Description" />
        <button type="submit">Contact Us</button>
      </form>
    </div>
  </section>
   -->
  
  {% endblock sliderl %}
  <!-- end slider section -->
</div>
{% endblock slider %}
{% block contant %}
{% endblock %}
{% block footer %}
<footer class="footer_section">
  <div class="container">
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      
</footer>
{% endblock footer %}
